:root {
  --primary-color: #673ab7;
  --text-color: #333;
  --sub-color: #999;
  --bg-color: #fafafa;
  --bg2-color: #ddd;
  --shadow-color: #{rgba(#333, 0.2)};

  @media (prefers-color-scheme: dark) {
    --primary-color: #673ab7;
    --text-color: #eee;
    --sub-color: #aaa;
    --bg-color: #1a1a1a;
    --bg2-color: #333;
    --shadow-color: #{rgba(#eee, 0.2)};
  }
}

main {
  display: block;
}

html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: $bg;
  color: $text;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

.page {
  &-enter-active {
    overflow: hidden;
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    transform-origin: 50% 50vh;
  }

  &-enter {
    opacity: 0;
    transform: scale(1.02);
  }

  &-leave-active {
    overflow: hidden;
    transition: opacity 0.1s ease-out;
  }

  &-leave-to {
    opacity: 0;
  }
}
